.login {
  .login--grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ion-row.ion-margin-top {
    flex-direction: column;
    margin-top: 40px;
    }
  }

  .flex-image{
    width: 150px;
    height: 150px;
  }
  .logo-text {
    object-fit: contain;
    width: 50%;
    margin-top: 10px;
  }
}
