.login {
  .login--grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ion-row.ion-margin-top {
        margin-top: 40px;
    }
  }
}
