.like-button--container {
  position: absolute;
  right: 0;
}
.item-like-button {
  margin-right: 4px;
  vertical-align: sub;
}

.home-item-date {
  margin-top: 8px;
}

.home-item-tradable--container {
  color: rgb(10, 51, 161);
  position: absolute;
  right: 0;

  .item-tradable-icon {
    vertical-align: middle;
  }
}
