.like-button--container {
  position: absolute;
  right: 0;
}
.item-like-button {
  margin-right: 4px;
  vertical-align: sub;
}

.collection-name-wrapper {
  position: relative;
}

.collection-name {
  position: absolute;
  z-index: 30;
  bottom: 20px;
  right: 8px;
  border-radius: 8px;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  background-color: rgba(231, 233, 255, 0.7);
  padding: 0 5px;
  border-radius: 6px;
}

.home-item-tradable--container {
  color: rgb(10, 51, 161);
  position: absolute;
  right: 0;

  .item-tradable-icon {
    vertical-align: sub;
    margin-right: 2px;
  }
}
.home-item-padding {
  padding: 8px 16px 8px 16px;
}
