.google-login-button {
  ion-icon.ion-margin-horizontal {
    margin-left: 4px;
    margin-right: 4px;
  }
}
.follow-button,
.unfollow-button {
  flex: 1;
}

.delete-button, .save-button {
  ion-icon {
    margin-right: 4px;
  }
}