.profile--img {
  // width: 100%;
  // height: 100%;
  // max-height: 100px;
  // width: auto;
  // aspect-ratio: 1;
  // object-fit: cover;
  margin-right: 12px;
  margin-bottom: 12px;
  &::part(image) {
    border-radius: 50%;
  }
}
