.item {
  .item-username {
    align-self: center;
  }
  .item-title-likes--container {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  .item-like-button {
    vertical-align: top;
  }
}
.top-margin-s {
  margin-top: -20px;
}
.like-button--column {
  padding-right: 0;
}
