.item {
  .item-username {
    align-self: center;
  }
  .item-title-likes--container {
    width: 100%;
    justify-content: space-between;
  }
  .item-like-button {
    vertical-align: middle;
  }
}
.top-margin-s {
  margin-top: -20px;
}
