.item {
  .item-username {
    align-self: center;
  }
  .item-title-likes--container {
    width: 100%;
    justify-content: space-between;
  }

  .item-like-button {
    vertical-align: sub;
    margin-right: 4px;
  }
}
.top-margin-s {
  margin-top: -20px;
}
.item-chat-icon {
  margin-right: 4px;
}

.tradable--container {
  color: rgb(10, 51, 161);

  .item-tradable-icon {
    vertical-align: middle;
  }
}

.item-chat-button--container {
  position: absolute;
  right: 0;
}

.collection-name-wrapper {
  position: relative;
}

.collection-name {
  position: absolute;
  z-index: 30;
  bottom: 20px;
  right: 8px;
  border-radius: 8px;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  background-color: rgba(231, 233, 255, 0.7);
  padding: 0 5px;
  border-radius: 6px;
}
