.profile {
  .profile--img {
    // width: 100%;
    height: 100%;
    max-height: 100px;
    width: auto;
    aspect-ratio: 1;
    object-fit: cover;

    &::part(image) {
      border-radius: 50px;
    }
  }

  .profile-statistics--container {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;

    .profile-statistics {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  .profile-details--container {
    display: flex;
    flex: 1;

    flex-direction: column;
  }

  ion-chip {
    pointer-events: none;
  }
}
