.toolbar--container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex: 1;

  .chat-unread--mobile {
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    background-color: red;
    z-index: 1000;
    top: 2px;
    right: -2px;
  }
}
.toolbar-title--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;

  .toolbar-logo {
    height: 40px;
    width: 40px;
    margin-left: 16px;
  }
  ion-text {
    padding-left: 12px;
    margin: 0;
  }
}
.home-toolbar-chat-button {
  .chat-unread {
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    background-color: red;
    z-index: 1000;
    top: -4px;
    right: -2px;
  }
}

.toolbar-buttons {
  ion-button {
    --padding-end: 2px;
    --padding-start: 2px;
  }
}
