.toolbar-title--container {
    display: flex;
    flex-direction: row;
    flex:1;
  .toolbar-logo {
    height: 40px;
    width: 40px;
    margin-left: 16px;
  }
  ion-text {
    padding-left: 12px;
    margin: auto 0;
  }
}
