.toolbar--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .chat-unread--mobile {
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    background-color: red;
    z-index: 1000;
    top: 2px;
    right: -2px;
  }
}
.toolbar-title--container {
  display: flex;
  flex-direction: row;
  .toolbar-logo {
    height: 40px;
    width: 40px;
    margin-left: 16px;
  }
  ion-text {
    padding-left: 12px;
    margin: auto 0;
  }
}
.home-toolbar-chat-button {
  .chat-unread {
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    background-color: red;
    z-index: 1000;
    top: -4px;
    right: -2px;
  }
}
