.profile-collection--container {
  flex: 1;
  background-color: rgba(231, 233, 255, 0.527);
  padding: 8px;
  border-radius: 12px;

  .profile-collection-title--container {
    display: flex;
    justify-content: space-between;

    .profile-collection-followers--container {
      font-size: var(--xs-font-size);
      display: inline-block;
      vertical-align: middle;

      ion-icon {
        vertical-align: middle;
        margin-right: 4px;
      }
    }
  }

  .profile-collection--images {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 8px;

    ion-img::part(image) {
      border-radius: 8px;
    }

    .profile-collection--image {
      // width: 100%;
      max-height: 100px;
      // width: auto;
      aspect-ratio: 1;
      object-fit: cover;
      margin-left: 4px;
      margin-right: 4px;
    }

    .profile-collection-empty-images {
      font-size: 12px;
      text-align: center;
      margin: auto;
      color: #808080;
    }
  }

  .profile-collection-categories--container {
    margin-top: 8px;
    ion-chip {
      pointer-events: none;
      ion-label {
        font-size: 12px;
      }
    }
  }
}
