.select-collection-list {
  .radio-collection--container {
    .radio-collection {
      display: flex;
      flex-direction: row;
      .collection-radio {
        margin: auto 20px auto 0;
      }
    }
  }
}

.add-new-item-button {
  flex: 1;
  margin-top: 16px;
  margin-bottom: 16px;
}
.add-new-collection-button {
  margin-top: 16px;
  margin-bottom: 16px;
  flex: 1;
}
