.image-grid {
  padding: 0px;
  margin: 0px;
  margin-top: 16px;

  ion-col {
    padding: 2px;
  }

  ion-img::part(image) {
    border-radius: 8px;
  }
}

.single-row-3 {
  height: 33vw;
}

.single-image-3 {
  height: 33vw;
  width: 33vw;
  // height: 33vw;
  padding: 0px;
}

.single-row-4 {
  height: 24vw;
}

.single-image-4 {
  width: 24vw;
  height: 24vw;
  padding: 5px 0px;
  position: relative;
}

.padding-bottom {
  padding-bottom: 30px;
}

.image-carousel {
  margin-bottom: 8px;
  ion-img {
    object-fit: contain;
    // backdrop-filter: blur(200px);
    // -webkit-backdrop-filter: blur(200px);
    width: 100%;
  }
  .image-carousel-image--container {
    background-size: cover;
    background-position: center;
    background-image: url("../../assets//blur.png");
  }
}

.edit-item-images {
  flex-direction: row;

  ion-icon {
    position: absolute;
    right: 4px;
    bottom: 4px;
  }
}
