.image-grid {
  padding: 0px;
  margin: 0px;
  margin-top: 16px;

  ion-col {
    padding: 2px;
  }

  ion-img::part(image) {
    border-radius: 8px;
  }
  .big-tile-row--top {
    padding-bottom: 2px;
  }
  .big-tile-row--bottom {
    padding-top: 2px;
  }
}

.single-row-3 {
  height: 33vw;
}

.single-image-3 {
  height: 33vw;
  width: 33vw;
  // height: 33vw;
  padding: 0px;
}

.single-row-4 {
  height: 24vw;
}

.single-image-4 {
  width: 24vw;
  height: 24vw;
  padding: 5px 0px;
  position: relative;
}

.padding-bottom {
  padding-bottom: 30px;
}

.image-carousel {
  margin-bottom: 8px;
  ion-img {
    object-fit: contain;
    // backdrop-filter: blur(200px);
    // -webkit-backdrop-filter: blur(200px);
    width: 100%;
  }
  .image-carousel-image--container {
    background-size: cover;
    background-position: center;
    background-image: url("../../assets//blur.png");
  }
}
.edit-item-images--container {
  padding: 2px;
  .edit-item-images {
    flex-direction: row;
    margin-bottom: 8px;
    .delete-icon--container {
      display: flex;
      position: absolute;
      height: 28px;
      width: 28px;
      right: 0px;
      top: -8px;
      background-color: #ffffffca;
      box-shadow: 2px 2px rgba(167, 167, 167, 0.787);
      // border: 1px solid black;
      border-radius: 50%;
      .delete-icon {
        margin: auto;
      }
    }
  }
}
