.image-grid{
  padding: 0px;
  margin: 0px;
}

.single-row-3{
  height: 33vw;
}

.single-image-3{
  width: 33vw;
  padding:0px;
}

.single-row-4{
  height: 24vw;
}

.single-image-4{
  width: 24vw;
  padding:0px;
}

.padding-bottom {
  padding-bottom: 30px;
}
