.discover-filter-tradable--container {
  display: flex;
  justify-content: space-between;
  .discover-filter--container {
    ion-select {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .discover-tradable--container {
    display: flex;
    align-items: center;
    color: #5f70ff;
  }
}
