.flex-image {
  // display: flex;
  // align-items: center;
  // justify-items: center;
  pointer-events: none;
  position: relative;
  padding-top: 100%;


  .ion-spinner-container {
    // flex: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-items: center;
    background-color: transparent;
    padding: 40%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    ion-spinner {
      height: 100%;
      width: 100%;
    }
  }
  ion-img {
    // flex: 1;
    // aspect-ratio: 1;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

  }

  // .tradable-img {
  //   outline: 4px solid #5F70FF;
  //   outline-offset: -4px;
  //   border-radius: 8px;
  // }
}
