.flex-image {
  display: flex;
  align-items: center;
  justify-items: center;
  pointer-events: none;

  .ion-spinner-container {
    flex: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-items: center;
    background-color: white;
    padding: 40%;

    ion-spinner {
      height: 100%;
      width: 100%;
    }
  }
  ion-img {
    flex: 1;
    aspect-ratio: 1;
    object-fit: cover;
  }
  ion-img::part(image) {
    border-radius: 8px;
  }
  .tradable-img {
    outline: 6px solid #5F70FF;
    outline-offset: -6px;
    border-radius: 8px;
  }
}
